.body



/* story section */

.story {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    row-gap: 20px;

}

/* watch our story */

.watch-section {
    background-image: url(/Pictures/1280px-Barneys_New_York_Logo.png);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.watch-items {

}



/* team section */
.team-section {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    justify-items: center;
    justify-content: space-evenly;
    grid-template-areas: 
    'header header header header'
    'main main main main'
    'footer footer footer footer';
}
    .team-opening-text {
        grid-area: header;
}

   .employee-1 {
       grid-area: main;
   }

   .employee-2 {
       grid-area: main;
   }

   .employee-3 {
       grid-area: main;
   }

   .employee-4 {
       grid-area: main;
   }

   .team-closing-text {
       grid-area: footer;
   }