



/* story section */

.story {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    row-gap: 20px;

}

/* watch our story */

.watch-section {
    background-image: url(./Pictures/bgk-middle.png);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.watch-items {
    color: white;
}

/* team section */
.team-section {
    background-image: url(./Pictures/bgk-header.png);
    background-position: relativ;
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    justify-items: center;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 70px 200px 70px;
    justify-content: space-evenly;
    grid-template-areas: 
    'header header header header'
    'main main main main'
    'footer footer footer footer';
}
    .team-opening-text {
        grid-area: header;
        place-self: center;
}   

   .employee-1 {
       grid-area: main;
       place-self: center;
   }

   .employee-2 {
       grid-area: main;
       place-self: center;
   }

   .employee-3 {
       grid-area: main;
       place-self: center;
   }

   .employee-4 {
       grid-area: main;
       place-self: center;
   }

   .team-closing-text {
       grid-area: footer;
       place-self: center;
   }