body {
  margin: 0px;
  padding: 0px;
  background: #ffffff;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #414247;
}

h1 {
  font-family: "Playfair Display"; 
  font-size: 32px;
  color: #ffffff;
  font-weight: 900;
}

h2 {
  font-family: "Playfair Display";
  font-size: 22px;
  font-weight: 600;
  }

h3 {
  font-size: 18px;
  font-weight: 900;
}

h4 {
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
}

h5 {
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.ul {
  display: inline;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 50%;
    padding: 12px; 
    border: 1px solid #ccc; /* Gray border */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 20px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    width: 100%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;

  }




  .expertise-titel {
    text-align: center;
  
  }


  .img-logo {
    height: 50px;
  }

  .expertise-items {
    display: grid;
    justify-items: center;
    justify-content: center;  
    align-items: start;
    place-self: top;
    column-gap: 0px;
    text-align: center;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: auto;
    grid-template-areas: 
      "main main main"
      "main main main"
  }

  .expertise-item-1 {
    grid-area: main;
    grid-area: 2 / 1;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 20px;
  }

  .expertise-item-2 {
    grid-area: main;
    grid-area: 2 / 2;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 20px;
  }

  .expertise-item-3 {
    grid-area: main;
    grid-area: 2 / 3;
    border-bottom: 1px solid black;
    padding: 20px;
  }

  .expertise-item-4 {
    grid-area: main;
    grid-area: 3 / 1;
    border-right: 1px solid black;
    padding: 20px;
  }

  .expertise-item-5 {
    grid-area: main;
    grid-area: 3 / 2;
    border-right: 1px solid black;
    padding: 20px;
  }

  .expertise-item-6 {
    grid-area: main;
    grid-area: 3 / 3;
    padding: 20px;
  }
